body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'TT Norms Pro Normal', sans-serif;
  background-color: #11112B;
  overflow-x: hidden;
}
a { color: inherit;
}
* {
  box-sizing: border-box;
}
/* общие свойства */
h2 {
  font-size: 1.6vw;
  line-height: 2vw;
  color: #11112B;
  font-weight: normal;
}
p {
  font-size: 10.8vw;
  line-height: 1vw;
  color: #11112B;
  font-weight: normal;
}
h1 {
  font-size: 7.9vw;
  line-height: 10.1vw;
  color: #11112B;
  font-weight: normal;
}
/* первый блок */
.firstblock {
  width: 100%;
  overflow: hidden;
  display: block;
  /* margin-bottom: 50px; */
}
.XXL, .NYC, .Intimate, .WTF, .A, .Acorn, .Socrate, .Bungalow {
  position: relative;
  background-color: #F3F3F3;
  width: 21.95vw;
  height: 21.95vw;
  border-radius: 1.3vw;
  margin-left: 0.8vw;
  padding-left: 1.65vw;
  padding-top: 1.35vw;
}
.firstblock p, .firstblock h2 {
  opacity: 0;
}
.Socrate {
  background-image: url('../images/Socrates.svg');
}
.Acorn {
  background-image: url('../images/acorn.svg');
}
.Bungalow {
  background-image: url('../images/bungalow.svg');
}
.A {
  background-image: url('../images/A.svg');
}
.NYC {
  background-image: url('../images/NYC.svg');
}
.Intimate {
  background-image: url('../images/intimate.svg');
}
.XXL {
  background-image: url('../images/XXL.svg');
}
.WTF {
  background-image: url('../images/WTF.svg');
}
.WTF:hover, .Acorn:hover, .Socrate:hover, .Bungalow:hover, .A:hover, .NYC:hover, .Intimate:hover, .XXL:hover, .WTF:hover{
  background-color: #AED9F4;
  transition: all .3s;

}
.WTF:hover p, .Acorn:hover p, .Socrate:hover p, .Bungalow:hover p, .A:hover p, .NYC:hover p, .Intimate:hover p, .XXL:hover p, .WTF:hover p {
  opacity: 1;
  transition: all .3s;
}
.WTF:hover h2, .Acorn:hover h2, .Socrate:hover h2, .Bungalow:hover h2, .A:hover h2, .NYC:hover h2, .Intimate:hover h2, .XXL:hover h2, .WTF:hover h2 {
  opacity: 1;
  transition: all .3s;

}
.logo {
  margin: 0 auto;
  width: 44.7vw;
}
/* первый ряд */
.tophouses {
  width: 182vw;
  display: flex;
  padding: 1.5vw 0vw;
  animation: tophouses-move 4s linear infinite;
  animation-play-state: running;
}
.tophouses:hover {
  animation-play-state: paused;
}

/* второй ряд */
.bottomhouses {
  width: 182vw;
  display: flex;
  padding-top: 1.5vw;
  align-items: center;
  animation: bottomhouses-move 4s linear infinite;
  animation-play-state: running;
}
.bottomhouses:hover{
  animation-play-state: paused;
}


/* третий блок */
.thirdblock {
  padding-top: 2.5vw;
  width: 72vw;
  overflow: hidden;
}
.house, .people, .heart, .flame {
  width: 28.5vw;
  height: 27.85vw;
  border-radius: 1.3vw;
  display: inline-block;
  position: relative;
  animation: blink .4s steps(1) alternate infinite;
  animation-play-state: running;
  background-color: #F3F3F3;
  margin-right: 0.8vw;
  margin-top: 0.8vw;
}
.house {
  background-image: url("../images/housesprint.svg");
  margin-left: -1.09vw;
}
.people {
  background-image: url("../images/peoplesprint.svg");
}
.heart {
  background-image: url("../images/heartsprint.svg");
  margin-left: -1.09vw;;
}
.flame {
  background-image: url("../images/flamesprint.svg");
}
.values {
  position: absolute;
  width: 56.49vw;
  height: 14.09vw;
  left: 36.6vw;
  top: 192.95vw;
  border-radius: 0vw 0vw 1.3vw 1.3vw;
  background-color: #F3F3F3;
  transform: rotate(90deg);
  overflow: hidden;
}
.values h1 {
  /* абслют */
  width: 201.7vw;
  margin-top: 1.6vw;
  animation: values-move 7s reverse linear infinite;
}
.coloredvalues {
  color: #E84A0F;
}
.house_value, .people_value, .heart_value, .flame_value {
  position: absolute;
  width: 28.5vw;
  height: 27.85vw;
  border-radius: 1.3vw;
  display: inline-block;
  background: #AED9F4;
  opacity: 0;
  text-align: center;
}
.people_value:hover, .house_value:hover, .heart_value:hover, .flame_value:hover {
  opacity: 1;
  transition: all .2s;
}
.house_value h1, .people_value h1, .heart_value h1, .flame_value h1 {
  line-height: 6.5vw;
  margin-top: 9.5vw;
}
.people_value h1 {
  margin-top: 6.4vw;
}

.secondblock {
  overflow: hidden;
  padding-top: 2.5vw;
  position: relative;
  margin-left: 6.5vw;
}
.dining {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 60% 100%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 60% 100%, 0 100%);
  position: absolute;
  margin-left: -6.4vw;
}
.dining:hover {
  opacity: 0;
  transition: all .3s;
}
.sleeping {
  -webkit-clip-path: polygon(38% 0, 0 61%, 48% 100%, 100% 53%, 100% 0);
clip-path: polygon(38% 0, 0 61%, 48% 100%, 100% 53%, 100% 0);
  position: absolute;
  margin-left: -34.75vw;
}
.sleeping:hover {
  opacity: 0;
  transition: all .3s;
}
.working {
  -webkit-clip-path: polygon(0 0, 0 100%, 37% 100%, 100% 34%, 76% 0);
  clip-path: polygon(0 0, 0 100%, 37% 100%, 100% 34%, 76% 0);
  position: absolute;
  margin-left: -62.55vw;
  margin-top: 28.05vw;
}
.working:hover {
  opacity: 0;
  transition: all .3s;
}
.living {
  -webkit-clip-path: polygon(94% 0%, 64% 32%, 100% 52%, 100% 78%, 86% 84%, 86% 100%, 0 100%, 0 76%, 22% 76%, 22% 58%, 60% 42%, 45% 34%, 77% 0);
clip-path: polygon(94% 0%, 64% 32%, 100% 52%, 100% 78%, 86% 84%, 86% 100%, 0 100%, 0 76%, 22% 76%, 22% 58%, 60% 42%, 45% 34%, 77% 0);
  position: absolute;
  margin-left: -62.64vw;
  margin-top: 0vw;
}
.living:hover {
  opacity: 0;
    transition: all .3s;
}
.washing {
  -webkit-clip-path: polygon(100% 0%, 26% 0, 0% 25%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0%, 26% 0, 0% 25%, 0% 100%, 100% 100%);
  position: absolute;
  margin-left: -24.7vw;
  margin-top: 65.3vw;
}
.washing:hover {
  opacity: 0;
    transition: all .3s;
}
.stairs {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 9%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 9%);
  position: absolute;
  margin-left: -62.55vw;
  margin-top: 83.95vw;
}
.stairs:hover {
  opacity: 0;
    transition: all .3s;
}

.footer {
  overflow: hidden;
  padding-top: 2.5vw;
}
.footer img {
  width: 271.45vw;
  align-items: center;
  animation: footer-move 4s linear infinite;
  animation-play-state: running;
}
.footer_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vw 2.5vw;
}
.footer p {
  color: #F3F3F3;
}
.stone1 {
  position: absolute;
  margin-left: -15vw;
  margin-top: 24.85vw;
}



/* анимации */
@keyframes tophouses-move {
  0% {margin-left: -91vw;}
  100% {margin-left: 0vw;}
}
@keyframes bottomhouses-move {
  0% {margin-left: -91vw;}
  100% {margin-left: 0vw;}
}
@keyframes blink {
  0% {background-position: 0vw top;}
  20% {background-position: -28.5vw top;}
  40% {background-position: -56.89999999999999vw top;}
  60% {background-position: -85.35000000000001vw top;}
  80% {background-position: -113.79999999999998vw top;}
  100% {background-position: -142.25vw top;}
}
@keyframes values-move {
  0% {margin-left: -145.2vw;}
  100% {margin-left: 0vw;}
}
@keyframes footer-move {
  0% {margin-left: -191.1vw;}
  100% {margin-left: 0vw;}
}
