/* айпад */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  p {
    font-size: 1.5vw;
  }
/* первый блок */
  .tophouses {
    padding-top: 0vw;
  }
  .logo1 {
    width: 89vw;
    height: 28vw;
  }
  .bottomhouses {
    margin-top: 8.5vw;
  }
  /* второй блок */
  .secondblock h2 {
    font-size: 3.5vw;
    line-height: 3vw;
    display: block;
    color: #F3F3F3;
    margin-top: -77vw;
    margin-left: 79vw;
    width: 14vw;
    text-align: left;
  }
  .secondblock {
    height: 148vw;
  }
/* третий блок */
  .values {
    margin-top: -49vw;
  }
/* футер */
  .footer p {
    font-size: 2.2vw;
    line-height: 2.5vw;
  }
/* анимации */
  @keyframes footer-move {
    0% {margin-left: -245vw;}
    100% {margin-left: 0vw;}
  }
}

/* мобильная версия */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
  overflow-x: hidden;
  max-width: 480px;
  }
  p {
    font-size: 2.2vw;
    line-height: 2.5vw;
  }
  h2 {
    font-size: 4vw;
    line-height: 4.2vw;
  }
  /* первый блок */
  .tophouses, .bottomhouses {
    width: 576.03vw;
  }
  .firstblock p, .firstblock h2 {
    opacity: 1;
  }
  .bottomhouses {
    margin-top: 11vw;
  }
  .XXL, .NYC, .Intimate, .WTF, .A, .Acorn, .Socrate, .Bungalow {
    width: 70vw;
    height: 70vw;
  }
  .logo1 {
    width: 89vw;
    height: 28vw;
    margin-top: 1vw;
  }
/* второй блок */
  .secondblock {
    height: 147vw;;
  }
  .secondblock h2 {
    font-size: 3.5vw;
    line-height: 3.5vw;
    display: block;
    color: #F3F3F3;
    margin-top: -79vw;
    margin-left: 79vw;
    width: 14vw;
    text-align: left;
  }
  .stone1 {
    margin-left: -18vw;
  }
/* третий блок */
  .thirdblock {
    height: 136vw;
  }
  .values {
    margin: 0;
    width: 100vw;
    height: 19.58vw;
    left: 0vw;
    top: 333vw;
    border-radius: 0vw;
    background-color: #F3F3F3;
    transform: rotate(0deg);
    overflow: hidden;
  }
  .cards1, .cards2 {
    width: 102vw;
  }
  .house_value h1, .people_value h1, .heart_value h1, .flame_value h1 {
    margin-top: 19vw;
  }
  .people_value h1 {
    margin-top: 14vw;
  }
  .house_value, .people_value, .heart_value, .flame_value {
    width: 51vw;
    height: 51vw;
    margin-right: 0vw;
  }
  .house, .people, .heart, .flame {
    display: inline-block;
    width: 51vw;
    height: 51vw;
    margin-right: 0vw;
    margin-top: 26vw;
  }
  .heart, .flame {
    margin-top: 2vw;
  }
/* анимации */
  @keyframes tophouses-move {
    0% {margin-left: -288.015vw;}
    100% {margin-left: 0vw;}
  }
  @keyframes bottomhouses-move {
    0% {margin-left: -288.015vw;}
    100% {margin-left: 0vw;}
  }
  @keyframes values-move {
    0% {margin-left: -163vw;}
    100% {margin-left: 0vw;}
  }
  @keyframes footer-move {
    0% {margin-left: -277vw;}
    100% {margin-left: 0vw;}
  }
}
