@media all and (min-width: 1224px) {

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
  overflow-x: hidden;
  max-width: 480px;
}
.tophouses, .bottomhouses {
  width: 406.04vw;
}
.bottomhouses {
  margin-top: 11vw;
}
.XXL, .NYC, .Intimate, .WTF, .A, .Acorn, .Socrate, .Bungalow {
  width: 49.17vw;
  height: 49.17vw;
}
.logo1 {
  width: 89vw;
  height: 28vw;
  margin-top: 1vw;
}
@keyframes tophouses-move {
  0% {margin-left: -202.92vw;}
  100% {margin-left: 0vw;}
}
@keyframes bottomhouses-move {
  0% {margin-left: -202.92vw;}
  100% {margin-left: 0vw;}
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
