@media all and (min-width: 1224px) {

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
  overflow-x: hidden;
  max-width: 480px;
}
.tophouses, .bottomhouses {
  width: 576.03vw;
}
.firstblock p, .firstblock h2 {
  opacity: 1;
}
.bottomhouses {
  margin-top: 11vw;
}
.XXL, .NYC, .Intimate, .WTF, .A, .Acorn, .Socrate, .Bungalow {
  width: 70vw;
  height: 70vw;
}
.logo1 {
  width: 89vw;
  height: 28vw;
  margin-top: 1vw;
}
.values {
  margin: 0;
  width: 100vw;
  height: 19.58vw;
  left: 0vw;
  top: 285vw;
  border-radius: 0vw;
  background-color: #F3F3F3;
  transform: rotate(0deg);
  overflow: hidden;
}
.house_value h1, .people_value h1, .heart_value h1, .flame_value h1 {
    margin-top: 19vw;
  }
.people_value h1 {
  margin-top: 14vw;
}
.thirdblock {
  margin-top: 22vw;
}
.house_value, .people_value, .heart_value, .flame_value {
  width: 48vw;
  height: 48vw;
  margin-right: 0vw;
}
.house, .people, .heart, .flame {
  display: inline-block;
  width: 48vw;
  height: 48vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
p {
  font-size: 2.2vw;
  line-height: 2.5vw;
}
h2 {
  font-size: 4vw;
  line-height: 4.2vw;
}
.stone1 {
  margin-left: -18vw;
}
.secondblock h2 {
  display: block;
  color: #F3F3F3;
  margin-top: -83vw;
  margin-left: 82vw;
  width: 14vw;
}
@keyframes tophouses-move {
  0% {margin-left: -288.015vw;}
  100% {margin-left: 0vw;}
}
@keyframes bottomhouses-move {
  0% {margin-left: -288.015vw;}
  100% {margin-left: 0vw;}
}
@keyframes values-move {
  0% {margin-left: -233.33vw;}
  100% {margin-left: 0vw;}
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
